{
    "map": {
        "entities": "entities"
    },
    "filename": "src/app.module.ts",
    "formatUsing": "typescript"
}
---
import { Module } from '@nestjs/common';
import { AppController } from './app.controller';
import { AppService } from './app.service';
import { RethinkModule } from './rethink/rethink.module';
{{#each entities}}
import { {{pascalCase name}}Module } from './EntityModules/{{kebabCase name}}/{{kebabCase name}}.module';
{{/each}}

@Module({
  imports: [
    RethinkModule,
    {{#each entities}}
    {{pascalCase name}}Module,
    {{/each}}
  ],
  controllers: [AppController],
  providers: [AppService],
})
export class AppModule {}
